.listing-modal {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  height: 100%;
}

.listing-modal-price {
  font-size: 2.5em;
  padding-right: 1%;
  padding-left: 3%;
  font-weight: bolder;
}

.modal-spec {
  padding-left: 1%;
  padding-right: 1%;
  font-weight: bolder;
}

.modal-divider {
  padding-left: 1%;
}

.modal-listing-img-container {
  grid-column: 1 / 3;
  overflow-y: scroll;
  /* display: grid;
  grid-column: 1 / 3;
  grid-template-rows: repeat(auto-fill, 30%);
  overflow-y: scroll;
  overflow-x: hidden; */
  width: 100%;
  height: 100%;
}

.modal-listing-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.listing-info-container {
  grid-column-start: 3;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-left: 1px #e6e6e6 solid;
  overflow-y: auto;
  overflow-x: hidden;
}

.listing-options {
  display: flex;
  justify-content: space-between;
  height: 8vh;
  border-bottom: 1px #e6e6e6 solid;
  margin-bottom: 1.5em;
}

.listing-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 8vh;
}

.listing-logo-name {
  color: #1277e1;
  font-size: 1.5em;
  font-weight: 900;
}

.listing-logo-img {
  height: 1.5em;
  width: 1.5em;
  margin-right: 0.25em;
}

.listing-logo-container {
  display: flex;
  align-items: center;
  padding: 0;
  height: 8vh;
  margin-left: 3%;
}

.listing-option-btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: none;
  text-decoration: none;
  border: none;
  gap: 10%;
  color: 	#1277e1;
  font-size: 1em;
}

.delete-listing-btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 8vh;
  background-color: white;
  border: none;
  margin-left: 1em;
  margin-right: 0.5em;
  padding: 0;
}

.delete-listing-btn-img {
  height: 1em;
  width: 1em;
  margin-right: .25em;
}

.delete-listing-btn-text {
  color: red;
  font-size: 1em;
}

.modal-address-list {
  list-style: none;
  display: flex;
  height: 3vh;
  margin-left: 3%;
  padding-inline-start: 0;
  margin-block: 0;
  margin-bottom: 0.5em;
}

.modal-address {
  margin-right: 1%;
}

.modal-address-description {
  margin-left: 3%;
  margin-right: 3%;
}

.listing-specs {
  width: 35vw;
  margin-bottom: 0.5em;
}

.tour-summary {
  list-style: none;
}

.time-submit {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
}



.reschedule-tour-btn {
  margin-top: 1em;
  margin-bottom: 4em;
  margin-right: 1em;
  background-color: #1277e1;
  color: white;
  font-size: 1em;
  border: none;
  border-radius: 4px;
  height: 4vh;
  width: 10vw;
}

.cancel-tour-btn {
  margin-top: 1em;
  margin-bottom: 4em;
  margin-right: 1em;
  background-color: #1277e1;
  color: white;
  font-size: 1em;
  border: none;
  border-radius: 4px;
  height: 4vh;
  width: 10vw;
}

.fav-listing-option {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
}

.sale-status-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 3%;
  padding-right: 3%;
  margin-bottom: 1em;
}

.sale-status-img {
  height: 1em;
  width: 1em;
  margin-right: .25em;
}

.sale-status-description {
  font-weight: 900;
}

.listing-info-nav-container {
  border-top: 1px #e6e6e6 solid;
  border-bottom: 1px #e6e6e6 solid;
  /* width: 35vw; */
  overflow-x: visible;
  margin-left: 3%;
  padding-top: 1em;
  padding-bottom: 1em;
}

.listing-info-nav {
  padding-inline: 0;
  margin-block: 0;
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
}

.listing-addl-info-container {
  padding-inline: 0;
  margin-block: 0;
}

.listing-info-nav-item:hover {
  color: #1277e1;
}

.listing-detail-icons-container {
  list-style: none;
  padding-inline: 0;
  margin-block: 0;
  margin-left: 3%;
  margin-top: 1em;
  border-bottom: 1px #e6e6e6 solid;
}

.listing-detail-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5em;
  margin-bottom: 1em;
}

.listing-detail-item-img {
  height: 1.5em;
  width: 1.5em;
}
