.listing-modal {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 90vw;
  height: 100vh;
}

.listing-modal-price {
  font-size: 2.5em;
  padding-right: 1%;
  padding-left: 5%;
  font-weight: bolder;
}

.modal-spec {
  padding-left: 1%;
  padding-right: 1%;
  font-weight: bolder;
}

.modal-divider {
  padding-left: 1%;
}

.modal-listing-img-container {
  grid-column: span 2;
  grid-auto-rows: auto;
}

.modal-listing-img {
  object-fit: cover;
  width: 98%;
  max-height: 75%;
}

.listing-info-container {
  object-fit: cover;
  width: 35vw;
  /* max-height: 100vh; */
  height: 100vh;
  border-left: 1px #e6e6e6 solid;
  overflow-y: auto;
}

.listing-options {
  display: flex;
  justify-content: flex-end;
  height: 8vh;
  border-bottom: 1px #e6e6e6 solid;
  margin-bottom: 5%;
  padding-right: 5%;
  padding-bottom: 1%;
  padding-top: 1%;
}

.listing-option-btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: none;
  text-decoration: none;
  border: none;
  gap: 10%;
  color: 	#1277e1;
  font-size: 1em;
}

.listing-options-img {
  height: 50%;
  width: 50%;
}

.delete-listing {
  margin-right: 3%;
}

.modal-address-list {
  list-style: none;
  display: flex;
  padding-left: 5%;
}

.modal-address {
  padding-right: 1%;
}

.modal-address-description {
  padding-left: 5%;
  padding-right: 5%;
}

.modal-address-description-header {
  padding-left: 5%;
  font-weight: 900;
}

.listing-specs {
  width: 35vw;
}

.tour-summary {
  list-style: none;
}

.scheduled-tour-detail {
  display: flex;
  justify-content: flex-start;
  font-weight: bolder;
}

.schedule-form {
  padding-left: 5%;
}
