.listing-container {
  width: auto;
  display: grid;
  grid-template-columns: repeat(2, 49vw);
  grid-column-gap: 2vw;
  margin-top: 11vh;
  /* border: 2px purple solid; */
  width: 98.5vw;
}

.map-container {
  position: fixed;
  display: grid;
  grid-column-start: 1;
  width: 50vw;
  height: 89vh;
  /* border: 2px black solid; */
}

.listing-box-container {
  display: grid;
  grid-column-start: 2;
  grid-template-columns: repeat(2, 1fr);
  /* grid-auto-rows: minmax(270px, auto);
  grid-auto-columns: minmax(100px, auto); */
  grid-gap: 0.5em;
  /* border: 2px red solid; */
  width: 47.5vw;
  overflow-x: hidden;
}

.listing-box-container-user {
  display: grid;
  grid-column-start: 2;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(270px, auto);
  grid-auto-columns: minmax(100px, auto);
  grid-gap: 0.5em;
  width: 50vw;
}

.listing {
  /* border: black 1px solid; */
  box-shadow: 2px 2px 2px 1px #e6e6e6;
  border-radius:4px;
  border: 1px #e6e6e6 solid;
  width: 23vw;
}

/* .add-listing {
  position: absolute;
  top: 3vh;
  right: 15vw;
  background: #1277e1;
  border-radius: 4px;
  color: white;
  font-size: 1em;
  padding: 0.5em;
} */
