.listing-container {
  display: grid;
  grid-template-columns: 55% 45%;
  grid-column-gap: 0.25%;
  margin-top: 10.5vh;
  width: auto;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.map-container {
  position: fixed;
  display: grid;
  grid-column-start: 1;
  width: 55%;
  height: 100%;
}

.listing-box-container {
  display: grid;
  grid-column-start: 2;
  grid-template-rows: 5% repeat(auto-fill, 30%);
  height: auto;
  width: 99%;
  overflow-x: hidden;
  overflow-y: hidden;
  justify-items: center;
  align-items: baseline;
}

.listing-box-container-user {
  display: grid;
  grid-column-start: 2;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(270px, auto);
  grid-auto-columns: minmax(100px, auto);
  grid-gap: 0.5em;
  width: 50vw;
}

.listing {
  box-shadow: 2px 2px 2px 1px #e6e6e6;
  border-radius: 6px;
  border: 1px #e6e6e6 solid;
  width: 97%;
  height: 97%;
}

.listing-browser-header-container {
  grid-column: 1 / 3;
  grid-row: 1 / span 1;
  align-self: center;
  justify-self: baseline;
  height: 100%;
  width: 99%;
  padding-left: 1%;
}
