.splash-img-container {
  position: relative;
  top: 10vh;
  height: 50vh;
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

.splash-home-front-img {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

/* For mobile and smaller devices (portrait) */
@media only screen and (max-device-width: 767px) and (orientation: portrait) {
  .splash-img-container {
    height: 20vh;
  }
}

/* For mobile and smaller devices (landscape) */
@media only screen and (max-device-width: 932px) and (orientation: landscape) {
  .splash-img-container {
    height: 35vh;
  }
}

/* For iPad Mini (portrait) */
@media only screen and (min-device-width: 768px) and (max-device-width: 768) and (orientation: portrait) {
  .splash-img-container {
    height: 30vh;
  }
}

/* For iPad Mini (landscape) */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1024) and (orientation: landscape) {
  .splash-img-container {
    height: 40vh;
  }
}

/* For iPad Air (portrait) */
@media only screen and (min-device-width: 820px) and (max-device-width: 820px) and (orientation: portrait) {
  .splash-img-container {
    height: 25vh;
  }
}

/* For iPad Air (landscape) */
@media only screen and (min-device-width: 1180px) and (orientation: landscape) {
  .splash-img-container {
    height: 50vh;
  }
}

/* For iPad Pro (portrait) */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) {
  .splash-img-container {
    height: 25vh;
  }
}

/* For iPad Pro (landscape) */
/* @media only screen and (min-device-width: 1366px) and (min-device-width: 1366px) and (orientation: landscape) {
  .splash-img-container {
    height: 50vh;
  }
} */
