.splash-body {
  display: flex;
  align-items: center;
  position: relative;
  top: 10vh;
  height: 80vh;
  width: 100vw;
  overflow-x: hidden;
}

.splash-cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.option-card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: rgb(188, 188, 188) 0.5px solid;
  border-radius: 4px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.08);
  height: 80%;
  width: 30%;
  overflow-x: hidden;
}
