.splash-body {
  display: flex;
  align-items: center;
  position: relative;
  top: 10vh;
  height: 80vh;
  width: 100%;
}

.splash-cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
}

.option-card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: rgb(188, 188, 188) 0.5px solid;
  border-radius: 4px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.08);
  height: 80%;
  width: 30%;
  overflow-x: hidden;
}


/* For iPad Mini */
@media (max-device-width: 768px) {
  .splash-body {
    height: 100vh;
  }
  .splash-cards {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 100%;
  }

  .option-card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30%;
    width: 65%;
  }
}

/* For iPad Air (portrait) */
@media (min-device-width: 769px) and (max-device-width: 820px) {
  .splash-body {
    height: 100vh;
  }
  .splash-cards {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 100%;
  }

  .option-card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30%;
    width: 70%;
  }
}

/* For iPad Mini (landscape) */
@media (min-device-width: 769px) and (max-device-width: 1024px) {

}

/* Additional media query for larger iPad Pro (landscape) */
@media (min-width: 1025px) {
  /* Your CSS styles for larger tablets, like iPad Pro, in landscape mode */
}

/* Media query for iPhone 6/7/8 and similar-sized devices */
@media (min-width: 321px) and (max-width: 375px) {
  /* Your CSS styles for iPhone 6/7/8 and similar-sized devices */
}

/* Media query for iPhone 6/7/8 Plus and similar-sized devices */
@media (min-width: 376px) and (max-width: 414px) {
  /* Your CSS styles for iPhone 6/7/8 Plus and similar-sized devices */
}

/* Media query for iPhone X/XS/11 Pro and similar-sized devices */
@media (min-width: 375px) and (max-width: 414px) and (min-resolution: 2dppx) {
  /* Your CSS styles for iPhone X/XS/11 Pro and similar-sized devices */
}

/* Media query for iPhone XR/11 and similar-sized devices */
@media (min-width: 414px) and (max-width: 896px) {
  /* Your CSS styles for iPhone XR/11 and similar-sized devices */
}

/* Media query for common Android smartphones */
@media (max-width: 480px) {
  /* Your CSS styles for common Android smartphones */
}

/* Media query for larger Android devices (e.g., tablets) */
@media (min-width: 481px) and (max-width: 1024px) {
  /* Your CSS styles for larger Android devices */
}
