.footer-container {
  position: relative;
  top: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6vh;
  width: 100%;
  border-top: 1px solid rgb(233, 233, 233);
}

.footer-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 5%;
}

.footer-icon {
  height: 80%;
  width: 100%;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .footer-icon-container {
    width: 10%;
  }

  .footer-icon {
    height: 100%;
    width: 50%;
  }
}
