.footer-container {
  position: relative;
  top: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6vh;
  width: 100%;
  border-top: 1px solid rgb(233, 233, 233);
}

.footer-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 5%;
}

.footer-icon {
  height: 80%;
  width: 100%;
}

/* For mobile and smaller devices (portrait) */
@media only screen and (max-device-width: 767px) and (orientation: portrait) {
  .footer-icon-container {
    width: 8%;
  }

  .footer-icon {
    height: 60%;
    width: 50%;
  }
}

/* For mobile and smaller devices (landscape) */
@media only screen and (max-device-width: 932px) and (orientation: landscape) {
  .footer-icon-container {
    width: 5%;
  }

  .footer-icon {
    height: 60%;
    width: 50%;
  }
}

/* For iPad Mini (portrait) */
@media only screen and (min-device-width: 768px) and (max-device-width: 819px) and (orientation: portrait) {
  .footer-icon-container {
    width: 8%;
  }

  .footer-icon {
    height: 60%;
    width: 50%;
  }
}

/* For iPad Mini (landscape) */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1179px) and (orientation: landscape) {
  .footer-icon-container {
    width: 5%;
  }

  .footer-icon {
    height: 60%;
    width: 50%;
  }
}

/* For iPad Air (portrait) */
@media only screen and (min-device-width: 820px) and (max-device-width: 820px) and (orientation: portrait) {
  .footer-icon-container {
    width: 8%;
  }

  .footer-icon {
    height: 100%;
    width: 50%;
  }
}

/* For iPad Air (landscape) */
@media only screen and (min-device-width: 1180px) and (orientation: landscape) {
  .footer-icon-container {
    width: 5%;
  }

  .footer-icon {
    height: 60%;
    width: 50%;
  }
}

/* For iPad Pro (portrait) */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) {
  .footer-icon-container {
    width: 8%;
  }

  .footer-icon {
    height: 100%;
    width: 50%;
  }
}

/* For iPad Pro (landscape) */
@media only screen and (min-device-width: 1366px) and (orientation: landscape) {
  .footer-icon-container {
    width: 5%;
  }

  .footer-icon {
    height: 60%;
    width: 50%;
  }
}
