.listing-details-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.listing-img {
  height: 25vh;
  width: 25vw;
  border-radius: 4px;
}

.single-listing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.listing-details-list {
  font-size: 12px;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  column-gap: 1%;
  width: 100%;
}

.listing-address-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  column-gap: 1%;
}
