.listing-img-container {
  width: 25vw;
  height: 20vh;
}

.listing-img {
  width: 25vw;
  height: 25vh;
}

.listing-details-container {
  width: 25vw;
  height: 10vh;
}

.listing-card {
  display: grid;
  border: pink 1px solid;
  border-radius:4px;
  grid-template-rows: repeat(2, 1fr);
  grid-auto-rows: minmax(100px, auto);
}
