.add-img-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.add-listing-img-header {
  align-self: flex-start;
  margin-bottom: 0.5em;
}


.add-listing-img-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.choose-file-input {
  background-color: white;
  border: 1px solid black;
  border-radius: 3px;
  padding: 0.5em;
  width: 25vw;
}

input[type=file]::file-selector-button {
  background-color: #1277e1;
  color: white;
  font-weight: bold;
  font-size: 1em;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.submit-listing-img-btn {
  align-self: flex-start;
  background-color: #1277e1;
  color: white;
  font-weight: bold;
  font-size: 1em;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  padding: 0.25em;
  width: 10vw;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-right: 1em;
}

.upload-listing-img-btn {
  color: #1277e1;
  border: 3px #1277e1 solid;
  border-radius: 8px;
  width: 10vw;
  margin: 0.5em;
  padding: 0.25em;
}

.listing-img-preview {
  display: flex;
  margin-left: 2em;
  width: 50vw;
  height: 65vh;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

.preview-container {
  width: 55vw;
  height: 75vh;
}

.preview-header {
  font-size: 1em;
  margin-left: 2em;
  font-weight: bolder;
}
