/* .fav-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 2vh;
} */

.fav-listing-btn {
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5vw;
}

.fav-btn-text {
  font-size: 1.25em;
  color: #1277e1;
  margin-right: .25em;
}

.fav-img {
  height: 1.5em;
  width: 1.5em;
  margin-right: .25em;
}
