.splash-card-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  padding: 5%;
  overflow-y: hidden;
}

.splash-card-img {
  height: 45%;
  width: 65%;
}

/* .splash-card-header {
  font-size: 1.25em;
} */

.splash-card-desc {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  font-size: 1em;
  height: 30%;
  width: 75%;
  overflow-y: hidden;
}

.splash-card-btn {
  height: 10%;
  width: 60%;
  background-color: white;
  color: #1277e1;
  font-weight: bold;
  font-size: 1em;
  border: 1px solid #1277e1;
  border-radius: 3px;
  cursor: pointer;
}

.splash-card-btn:hover {
  background-color: #1277e1;
  color: white;
}

/* For iPad Mini (portrait) */
@media (max-device-width: 768px) {
  .splash-card-contents {
    padding: 3%;
  }

  .splash-card-img {
    width: 45%;
  }

  .splash-card-desc {
    font-size: 1.25em;
  }

  .splash-card-btn {
    width: 50%;
    font-size: 1.5em;
  }
}


/* For iPad Air (portrait) */
@media (min-device-width: 769px) and (max-device-width: 820px) {
  .splash-card-contents {
    padding: 3%;
  }

  .splash-card-img {
    width: 45%;
  }

  .splash-card-desc {
    font-size: 1.25em;
  }

  .splash-card-btn {
    width: 40%;
    font-size: 1.25em;
  }
}

/* For iPad Mini (landscape) */
@media (min-device-width: 769px) and (max-device-width: 1024px) {

}


/* For iPad Mini and iPad (landscape) */
@media (min-width: 769px) and (max-width: 1024px) {
  /* Your CSS styles for tablets in landscape mode */
}

/* Additional media query for larger iPad Pro (landscape) */
@media (min-width: 1025px) {
  /* Your CSS styles for larger tablets, like iPad Pro, in landscape mode */
}
