.img-browser-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(auto-fit, 50%);
  row-gap: 0.5%;
}

.add-listing-img {
  width: 20vw;
  height: 30vh;
}

.add-listing-btn {
  background-color: white;
  border: none;
}

.delete-img-btn {
  background-color: #1277e1 ;
  border: 1px solid white;
  border-radius: 6px;
  color: white;
  height: 2.5em;
  width: 2.5em;
  cursor: pointer;
}

.trash-icon {
  height: 100%;
  width: 100%;
  padding: .25em;
}

.image-trash-layered {
  position: relative;
}

.image-trash-layered .delete-img-btn {
  position: absolute;
  top: 3%;
  right: 3%;
}
