.img-browser-container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(auto-fill, 50%);
}

.add-listing-img {
  width: 20vw;
  height: 30vh;
}

.add-listing-btn {
  background-color: white;
  border: none;
}

/* .img-browser-container {
  width: 54vw;
} */

.delete-img-btn {
  position: relative;
  top: 10%;
  left: 92%;
  background-color: #1277e1 ;
  border: 1px solid white;
  border-radius: 6px;
  height: 2.5em;
  width: 2.5em;
  color: white;
}

.trash-icon {
  height: 1.5em;
  width: 1.5em;
}
