.scheduler-tabler {
  border: 1px solid black;
  margin-bottom: 20px;
  padding-right: 1%;
  padding-left: 5%;
}

.scheduler-row, .scheduler-cell {
  border: 1px solid black;
}

.close-modal-btn {
  background-color: white;
  border: none;
  font-size: 1.25em;
  height: 5vh;
  width: 3vw;
  margin-right: .5em;
  border-radius: 50%;
}

.close-modal-btn:hover {
  background: #e6e6e6;
}

.modal-sched-header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px #e6e6e6 solid;
  height: 8vh;
  width: 30vw;
}

.tour-scheduler-modal {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 85vh;
  width: 30vw;
}

.scheduled-tour-detail {
  display: flex;
  justify-content: flex-start;
  font-weight: bolder;
}

.schedule-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25em;
  font-weight: 900;
  width:27vw;
  height: 8vh;
  margin-left: 2em;
}

.tour-sched-btn {
  margin-left: 3%;
  height: 5vh;
  width: 20vw;
  margin-top: 0.5em;
  margin-bottom: 1em;
  background-color: #1277e1;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tour-adjustment-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.schedule-form {
  margin-bottom: 4em;
}

.select-time-heading {
  margin-top: 1em;
  margin-bottom: 1em;
}

.schedule-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar {
  background: #1276e127;
  color: black;
  border: 2px #1277e1 solid;
  border-radius: 3px;
  width: 25vw;
  height: 5vh;
  margin-bottom: 1em;
}

.time-selector {
  background: white;
  color: black;
  border: 1px black solid;
  border-radius: 3px;
  width: 25.5vw;
  height: 5vh;
}

.time-selector:hover {
  border: 1px #1277e1 solid;
}

.time-selector:focus {
  outline: 4px #1292e1c9  solid;
}

.tour-submit-btn {
  margin-top: 2em;
  background-color: #1277e1;
  color: white;
  font-size: 1em;
  border: none;
  border-radius: 4px;
  height: 6vh;
  width: 25.5vw;
}

.tour-modal-preview-img {
  margin-left: 5%;
  height: 35vh;
  width: 27vw;
  border-radius: 4px;
}

.scheduled-tour-info {
  display: flex;
  justify-content:space-between;
  align-items: center;
  font-weight: bolder;
}

.tour-description-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  margin-bottom: 1em;
  width: 30vw;
  height: 8vh;
  border-bottom: 1px #e6e6e6 solid;
}

.tour-btn-details {
  font-size: 0.8em;
  font-weight: 100;
}
